@model Winterwood.Inventory.DTO.BatchHomeVM

@{
    ViewData["Title"] = "Create Batch";
}

<h1>Create new Batch</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label"> Fruit </label>
                <select name="FruitId" class="form-control">
                    @foreach (var item in Model.AvailableFruits)
                    {
                        <option value="@item.FruitId"> @item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Variety </label>
                <select name="VarietyId" class="form-control">
                    @foreach (var item in Model.AvailableVariety)
                    {
                        <option value="@item.VarietyId"> @item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Quantity </label>
                <input type="number" name="Quantity" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
